@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

input[type="{weight}"]::placeholder {
  color: #bcbcbc;
}
input[type="{height}"]::placeholder {
  color: #bcbcbc;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 50px;
}

.container-bmi {
  box-shadow: 0px 0px 12px #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #eef4ff;
  padding: 30px;
}

#form-bmi {
  margin: 30px;
  margin-top: 40px;
}

input {
  width: 100%;
  font-size: 1.2rem;
  padding: 8px 4px;
  margin: 8px 0;
  border-radius: 8px;
}

label {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #5f6d7e;
}

.btn-bmi {
  display: block;
  width: 100%;
  margin: 8px 0;
  margin-top: 20px;
  padding: 10px 0;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(96.14deg, #3f95ff -10.84%, #7c1add 164.3%);
  border-radius: 11.25px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-outline {
  display: block;
  width: 100%;
  margin: 8px 0;
  margin-top: 10px;
  padding: 10px 0;
  color: #3f95ff;
  cursor: pointer;
  background: #fff;
  border-radius: 11.25px;
  border: solid 3px #3f95ff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.center {
  text-align: center;
  margin: 24px 0;
}

p {
  margin: 10px 0;
}

.img-container-bmi {
  text-align: center;
}

.img-container-bmi img {
  height: 200px;
  margin-bottom: 10px;
  border-radius: 5%;
}

#title-bmi {
  color: #3655d5;
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}

#desc-bmi {
  font-size: 17px;
  line-height: 125%;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

#result {
  font-size: 25px;
  color: #3655d5;
}

#message {
  font-size: 17px;
  margin-top: 10px;
  color: #45494d;
  font-weight: 500;
}
