/* ========= Initial CSS  ============ */
h2 {
  font-size: 45px;
  font-weight: bold;
  color: #1e154f;
}

h3 {
  font-size: 37px;
  font-weight: bold;
  color: #1e154f;
}

h4 {
  font-weight: bold;
  font-size: 25px;
  color: #1e154f;
}

h5 {
  font-size: 18px;
  font-weight: bold;
  color: #1e154f;
}

p {
  font-weight: normal;
  font-size: 15px;
  color: #3f4344;
  line-height: 15px;
}

#card-row {
  padding: -10px;
  margin: 10px;
}

#col-card {
  display: flex;
  flex-wrap: wrap;
  padding: -50px;
}

#card {
}

#gradient-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: start;
  align-items: end;
}

#card-category-image {
  background-position: left;
  width: 100%;
  height: auto;
}

.card-category-title {
  line-height: 130%;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  left: 15px;
}
