* {
  font-family: "Poppins", sans-serif;
}
input[type="text"]::placeholder {
  color: rgba(0, 175, 81, 0.02);
}
input[type="email"]::placeholder {
  color: rgba(0, 175, 81, 0.02);
}
input[type="password"]::placeholder {
  color: rgba(0, 175, 81, 0.02);
}
select {
  color: rgba(0, 175, 81, 0.02);
}

.login {
  height: 100vh;
  display: flex;
}

.header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  display: flex;
  align-items: center;
  color: rgba(0, 175, 81, 1);
}

.header p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #5f6d7e;
}

.login-form .btn-2 {
  margin-top: 80px;
  width: 100%;
  height: 45px;
  background: rgba(0, 175, 81, 1);
  border-radius: 11.25px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login-form .btn-regis {
  margin-top: 40px;
  width: 100%;
  height: 45px;
  background: rgba(0, 175, 81, 1);
  border-radius: 11.25px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.login-form img {
  margin-right: 10px;
}

.login-form label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #5f6d7e;
}

.login-form input {
  height: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #5f6d7e;
  background: #ffffff;
  border: 2px solid rgba(0, 175, 81, 1);
  border-radius: 8.91238px;
}

.login-form select {
  height: 45px;
  font-size: 15px;
  color: #5f6d7e;
  border: 2.5px solid rgba(0, 175, 81, 1);
  border-radius: 8.91238px;
}

select option {
  height: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #5f6d7e;
  background: #ffffff;
}

.login-form .mrgn-1 {
  margin-top: 10px;
}

.mrgn-3 {
  margin: 30px 0 20px 0;
}

.login-form .option {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5f6d7e;
}

.login-form .regis {
  font-weight: 500;
  font-size: 15px;
  color: rgba(0, 175, 81, 1);
  margin-left: 5px;
}

.fsize-15 {
  font-size: 15px;
}

.fsize-14 {
  font-size: 14px;
}

.login-form p {
  display: flex;
  margin: 20px 0 20px 0;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #5f6d7e;
  justify-content: center;
  align-items: center;
}

.bg-color {
  background: linear-gradient(rgba(0, 175, 81, 0.02));
}

.login-right img {
  display: flex;
}

.login-left {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  .login {
    margin: 40px 0;
    display: block;
  }
  .login-right {
    display: none;
  }
  .login-left {
    width: 100%;
  }
}
